<form action="{% url 'logout' %}" method="get">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">{{user.last_name}}{{user.first_name}}さん</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'top' %}">トップ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'inventory_list' %}">在庫管理</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'rental_order_list' %}">レンタル管理</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'work_list' %}">作業管理</a>
                </li>
            </ul>
            <input type="submit" value="ログアウト">
        </div>
    </nav>
</form>